div.boardContainer {
	display: inline-block;
	height: 100vh;
}

div.board {
	width: 48vw;
	height: 48vw;
	display: flex;
	flex-direction: column;
	background-color: rgb(134, 207, 162);
	border: 4px solid rgb(63, 63, 63);
	border-style: outset;
	box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.3);
}
