div.status {
	width: 600px;
	display: flex;
	margin-top: 20px;
	font-size: 4em;
	font-weight: 500;
	align-content: center;
	align-items: center;
}

div.status > div {
	width: 100%;
	padding: 2% 4%;
	margin: 2% 4%;
	height: auto;
	display: flex;
	border: 1px solid rgb(63, 63, 63);
}

div.status .status-black {
	text-align: right;
}

div.status-black.active {
	border: 4px solid rgb(63, 63, 63);
	box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.3);
}

div.circle {
	height: 80px;
	width: 80px;
	margin: auto;
}

div.circle.white {
	background-image: url("../images/flo.png");
	background-size: cover;
	margin-right: auto;
	margin-left: 0;
}

div.circle.black {
	background-image: url("../images/mason.png");
	background-size: cover;
	margin-left: auto;
	margin-right: 0;
}
