div.statusContainer {
	display: inline-block;
	width: 40%;
	height: 100vh;
}

div.status {
	display: inline-block;
	width: 20vw;
	font-size: 2.8em;
	font-weight: 500;
}

div.status > div {
	padding: 8%;
	margin: 8%;
	display: flex;
	border: 1px solid rgb(63, 63, 63);
}

div.status .status-black {
	text-align: right;
}

div.status-black.active {
	border: 4px solid rgb(63, 63, 63);
	box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.3);
}

div.status-white.active {
	border: 4px solid rgb(63, 63, 63);
	box-shadow: 4px 2px 20px rgba(0, 0, 0, 0.3);
}

div.circle {
	height: 56px;
	width: 56px;
	margin: 0 auto;
}

div.circle.white {
	background-image: url("../images/me.png");
	background-size: cover;
	margin-right: auto;
	margin-left: 0;
}

div.circle.black {
	background-image: url("../images/bf.png");
	background-size: cover;
	margin-left: auto;
	margin-right: 0;
}
